:root {
  --spotify-green: #1ed760;
  --text-white: #ffffff;
  --text-weak-white: rgba(255, 255, 255, 0.6);
  --button-hover-white: rgba(255, 255, 255, 0.9);
  --background-black: #121212;
  --black-03: rgba(255, 255, 255, 0.03);
  --black-07: rgba(255, 255, 255, 0.07);
  --black-10: rgba(255, 255, 255, 0.1);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color: var(--text-white);
  background-color: var(--background-black);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.btn {
  border: none;
  border-radius: 100px;
  font-weight: 700;
  color: var(--background-black);
  background-color: var(--text-white);
}

.btn:hover {
  background-color: var(--button-hover-white);
  transform: scale(1.05);
}

header,
.gnb-left,
.gnb-right,
.search-box,
.input-wrapper,
.fa-house,
.fa-arrow-down-long,
.gnb-links,
.gnb-actions,
.gnb-right a,
#library-title h3,
aside #library-title a,
aside #language button {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  padding: 0.8rem 2rem;
  flex: 0 0 auto;
  /* header will not grow / shrink / size is determine by its content */
}

#logo {
  width: 3.5rem;
  padding: 0 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
}

nav .gnb-left i {
  font-size: 2rem;
}

nav .gnb-left .fa-house {
  padding: 1rem;
  border-radius: 50%;
  background-color: var(--black-07);
  transition: all 0.2s ease-in-out;
}

nav .gnb-left .fa-house:hover {
  background-color: var(--black-10);
  transform: scale(1.1);
}

nav .gnb-left .search-box {
  margin: 0 1rem;
  padding: 1.3rem;
  border: 0.5px solid transparent;
  border-radius: 100px;
  background-color: var(--black-07);
  transition: all 0.2s ease-in-out;
}

nav .gnb-left .search-box:hover {
  border: 0.5px solid var(--text-weak-white);
  background-color: var(--black-10);
}

nav .gnb-left .search-box > * {
  color: var(--text-weak-white);
}

nav .gnb-left .input-wrapper {
  position: relative;
}

nav .gnb-left .input-wrapper::after {
  position: absolute;
  top: 0;
  right: 5px;
  width: 1px;
  height: 100%;
  background-color: var(--text-weak-white);
  content: '';
}

nav .gnb-left .search-box .fa-magnifying-glass {
  margin-right: 1rem;
}

nav .gnb-left .search-box .fa-square-plus {
  margin: 0 0.5rem;
}

input {
  width: 40rem;
  border: none;
  font-size: 1.6rem;
  font-weight: 300;
  background: none;
  caret-color: var(--text-white);
}

input::placeholder {
  color: var(--text-weak-white);
}

input:focus {
  outline: none;
}

nav .gnb-right a {
  color: var(--text-weak-white);
}

nav .gnb-links {
  position: relative;
}

nav .gnb-links::after {
  position: absolute;
  top: 0;
  right: -15px;
  width: 1px;
  height: 100%;
  background-color: var(--text-weak-white);
  content: '';
}

nav .gnb-actions {
  margin-left: 3rem;
}

nav .gnb-right a {
  width: 100px;
}

nav .gnb-right a:not(.login):hover {
  font-size: 1.6rem;
  color: var(--text-white);
}

nav .gnb-links {
  font-weight: 600;
}

nav .gnb-actions .fa-arrow-down-long {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  padding: 0.2rem;
  border: 1px solid var(--text-weak-white);
  border-radius: 50%;
  font-size: 1rem;
}

nav .gnb-actions .login {
  padding: 1.5rem;
  color: var(--background-black);
}

main {
  display: flex;
  margin-bottom: 1rem;
  overflow: hidden;
  flex: 1 1 auto;
  /* can grow to fill available space / can also shrink if needed / inital size is based on its content */
}

aside {
  margin: 0 1rem;
  padding: 2rem 1rem;
  border-radius: 10px;
  background-color: var(--black-03);
  flex: 1;
}

aside #library-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding: 0 1rem;
  color: var(--text-weak-white);
}

aside #library-title h3 {
  font-size: 1.6rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

aside #library-title h3:hover {
  color: var(--text-white);
}

aside #library-title h3 .material-symbols-outlined {
  margin-right: 1rem;
}

aside #library-title a {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  color: var(--text-weak-white);
  transition: all 0.2s ease-in-out;
}

aside #library-title a:hover {
  color: var(--text-white);
  background-color: var(--black-07);
}

aside #library {
  height: 250px;
  margin-bottom: 2rem;
  overflow-y: auto;
}

aside #library > div {
  margin-bottom: 20px;
  padding: 2rem;
  border-radius: 10px;
  background-color: var(--black-03);
}

aside #library > div h4 {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 600;
}

aside #library > div p {
  margin-bottom: 2rem;
  font-size: 1.4rem;
  font-weight: 300;
}

aside #library > div button {
  padding: 0.8rem 1.5rem;
  font-size: 1.4rem;
}

aside #legal-links {
  margin-bottom: 1rem;
  padding: 2rem 1rem;
}

aside #legal-links li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 1.5rem;
}

aside #legal-links a {
  font-size: 1.1rem;
  font-weight: 300;
  color: var(--text-weak-white);
}

aside #legal-links .cookie a {
  color: var(--text-white);
}

aside #legal-links .cookie:hover {
  text-decoration: underline 0.5px solid var(--text-white);
  -webkit-text-decoration-line: underline;
  -webkit-text-decoration-thickness: 0.5px;
  -webkit-text-decoration-color: var(--text-white);
}

aside #language button {
  margin: 0 1rem;
  padding: 0.5rem 1.5rem 0.5rem 1rem;
  border: 0.5px solid var(--text-weak-white);
  border-radius: 100px;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--text-white);
  background-color: var(--background-black);
}

aside #language button:hover {
  border: 1px solid var(--text-white);
  transform: scale(1.05);
}

aside #language button span {
  margin-right: 5px;
  font-size: 2rem;
  font-weight: 400;
}

#content {
  margin-right: 1rem;
  padding: 2rem 1rem;
  border-radius: 10px;
  background: linear-gradient(var(--black-07) 0%, var(--black-03) 20%);
  flex: 2.5;
  overflow-y: auto;
  scrollbar-color: var(--text-weak-white);
}

#content > section {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

#content .section-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1.5rem;
}

#content .section-title h2 {
  font-size: 2.4rem;
  font-weight: 600;
}

#content .section-title h2:hover {
  text-decoration: underline 2px solid var(--text-white);
  -webkit-text-decoration-line: underline;
  -webkit-text-decoration-thickness: 2px;
  -webkit-text-decoration-color: var(--text-white);
}

#content .section-title > a {
  font-weight: 500;
  color: var(--text-weak-white);
}

#content .section-title > a:hover {
  text-decoration: underline 1px solid var(--text-white);
  -webkit-text-decoration-line: underline;
  -webkit-text-decoration-thickness: 1px;
  -webkit-text-decoration-color: var(--text-white);
}

#content .card-box {
  display: flex;
  justify-content: space-between;
}

#content .card {
  position: relative;
  width: calc((100% - 3rem) / 6);
  min-width: 100px;
  padding: 1.5rem 1.5rem 2rem;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

#content .card::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  bottom: 75px;
  z-index: 10;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.5);
  font-family: 'Material Symbols Outlined';
  font-size: 3.2rem;
  color: var(--background-black);
  background-color: var(--spotify-green);
  opacity: 0;
  transition: all 0.2s ease-in-out;
  content: 'play_arrow';
  font-variation-settings: 'FILL' 1;
}

#content .card:hover {
  background-color: var(--black-03);
}

#content .card:hover::after {
  bottom: 80px;
  opacity: 1;
}

#content .card-image {
  position: relative;
  margin-bottom: 1rem;
  border-radius: 5px;
  overflow: hidden;
}

#content .card-image.circle {
  border-radius: 50%;
}

#content img {
  width: 100%;
  vertical-align: top;
}

#content .card-title {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
}

#content .card-title:hover {
  text-decoration: underline 1px solid var(--text-white);
  -webkit-text-decoration-line: underline;
  -webkit-text-decoration-thickness: 1px;
  -webkit-text-decoration-color: var(--text-white);
}

#content .card-desc {
  display: -webkit-box;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3;
  color: var(--text-weak-white);
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-all;
}

#content .card-desc.artist:hover {
  text-decoration: underline 1px solid var(--text-weak-white);
  -webkit-text-decoration-line: underline;
  -webkit-text-decoration-thickness: 1px;
  -webkit-text-decoration-color: var(--text-weak-white);
}

footer {
  padding: 1.5rem;
}

footer .footer-nav-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.5rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--black-10);
}

footer .footer-nav {
  display: flex;
}

footer .footer-nav-item {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

footer .footer-nav h4 {
  margin-bottom: 1.5rem;
  font-weight: 600;
}

footer .footer-nav a {
  margin-bottom: 1.5rem;
  color: var(--text-weak-white);
}

footer .footer-nav a:hover {
  color: var(--text-white);
  text-decoration: underline 1px solid var(--text-white);
  -webkit-text-decoration-line: underline;
  -webkit-text-decoration-thickness: 1px;
  -webkit-text-decoration-color: var(--text-white);
}

footer .external-links i {
  margin-left: 1.5rem;
  padding: 1.2rem;
  border-radius: 50%;
  font-size: 1.8rem;
  background-color: var(--black-10);
}

footer .external-links i:hover {
  background-color: var(--text-weak-white);
}

footer .footer-meta {
  font-size: 1.4rem;
  line-height: 1.5;
  color: var(--text-weak-white);
}

footer .footer-copyright {
  margin-bottom: 2rem;
}

#promo-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background: linear-gradient(90deg, #b531aa, #5a86de);
}

#promo-banner h2 {
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

#promo-banner p {
  font-size: 1.6rem;
  font-weight: 300;
}

#promo-banner .join {
  padding: 1.5rem 3rem;
}
